![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [81]:
# Re-run this cell 
import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data

print(schools.columns)

# Start coding here...
# Add as many cells as you like...


best_math_schools = schools[schools["average_math"]>=0.8*800][["school_name", "average_math"]].sort_values("average_math", ascending=False)
print(best_math_schools)

Index(['school_name', 'borough', 'building_code', 'average_math',
       'average_reading', 'average_writing', 'percent_tested'],
      dtype='object')
                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [82]:
schools["total_SAT" ]= schools["average_math"]+schools["average_reading"]+schools["average_writing"]
top_10_schools = schools[["school_name", "total_SAT"]].sort_values("total_SAT", ascending=False)[:10]
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [83]:
schools_by_borough = schools.groupby("borough").agg(["mean", "std"]).round(2)
print(schools["borough"])
schools_by_borough["num_schools"] = schools["borough"].value_counts()
print(schools_by_borough)
largest_std_dev_all_col = schools_by_borough[schools_by_borough[("total_SAT", "std")]==schools_by_borough[("total_SAT", "std")].max()]
largest_std_dev_all_col = largest_std_dev_all_col.reset_index()                                     
print(largest_std_dev_all_col)
largest_std_dev = largest_std_dev_all_col[[("borough", ""), ("num_schools", ""), ("total_SAT", "mean"), ("total_SAT", "std")]]
largest_std_dev.columns = ["borough", "num_schools", "average_SAT", "std_SAT"]
print(largest_std_dev)

0      Manhattan
1      Manhattan
2      Manhattan
3      Manhattan
4      Manhattan
         ...
370       Queens
371       Queens
372       Queens
373       Queens
374       Queens
Name: borough, Length: 375, dtype: object
              average_math        average_reading  ... total_SAT         num_schools
                      mean    std            mean  ...      mean     std
borough                                            ...
Bronx               404.36  52.22          402.52  ...   1202.72  150.39          98
Brooklyn            416.40  60.48          410.76  ...   1230.26  154.87         109
Manhattan           455.89  83.82          444.93  ...   1340.13  230.29          89
Queens              462.36  71.89          443.26  ...   1345.48  195.25          69
Staten Island       486.20  83.13          478.50  ...   1439.00  222.30          10

[5 rows x 11 columns]
     borough average_math         ... total_SAT         num_schools
                     mean    std  ...      mean     std
0  Manhattan       455.89  83.82  ...   1340.13  230.29          89

[1 rows x 12 columns]
     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29